<div class="card">
  <div class="header">{{tradeItem.pair}}</div>
  <div class="blob blob-left">
    <div class="content-left">
      <div class="content-header content-left">Sell {{tradeItem.pair.split(' ')[0]}}</div>
      <div class="content-data content-left">{{tradeItem.sell}}</div>
    </div>
  </div>
  <div class="arrow-up" *ngIf="tradeItem.isBuyIncreased"></div>
  <div class="arrow-down" *ngIf="!tradeItem.isBuyIncreased"></div>
  <div class="blob blob-right">
    <div class="content-right">
      <div class="content-header content-right">Buy {{tradeItem.pair.split(' ')[0]}}</div>
      <div class="content-data content-right">{{tradeItem.buy}}</div>
    </div>
  </div>
</div>