.card {
  width: 310px;
  float: left;
  margin: 5px;
  border: 1px solid grey;
  background-color: lightgrey;
}

.header {
  text-align: center;
  background-color: grey;
  color: white;
  font-weight: bold;
}

.blob {
  background-color: white;
  height: 55px;
  width: 125px;
  margin: 10px;
  font-weight: bold;
}

.blob-left {
  float: left;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: red;
}

.blob-right {
  float: right;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: green;
}

.content-left {
  float: left;
}

.content-right {
  float: right;
}

.content-header {
  font-size: 12px;
  margin: 5px;
}

.content-data {
  font-size: 25px;
  margin: 5px;
}

.arrow-up {
  float: left;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 16px solid green;
  margin: 5px;
}

.arrow-down {
  float: left;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 16px solid red;
  margin: 5px;
}